<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{head-fragment :: head}"></head>

    <body id="top">
        <main class="container">
            <section class="section">
                <form class="box" action="/authority-index">
                    <div class="field">
                        <label class="label">Find by id</label>
                        <div class="control">
                            <input
                                class="input"
                                type="text"
                                name="id"
                                placeholder="enter authority id"
                            />
                        </div>
                    </div>
                    <button class="button is-primary">Find</button>
                    <a href="/authority-index" class="button is-link">Reset</a>
                </form>
                <form class="box" action="/authority-index">
                    <div class="field">
                        <label class="label">Find by name</label>
                        <div class="control">
                            <input
                                class="input"
                                type="text"
                                name="name"
                                placeholder="enter authority name"
                            />
                        </div>
                    </div>
                    <button class="button is-primary">Find</button>
                    <a href="/authority-index" class="button is-link">Reset</a>
                </form>
            </section>
            <section class="section">
                <div class="box" th:each="authority : ${authorityPage}">
                    <div th:text="${authority.id}">authority.id</div>
                    <div th:text="${authority.version}">authority.version</div>
                    <div th:text="${authority.name}">authority.name</div>
                    <div th:text="${authority.updatedAt}">
                        authority.updatedAt
                    </div>
                    <div th:text="${authority.updatedBy}">
                        authority.updatedBy
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
