<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{com/premsan/ui/templates/head-fragment}"></head>
    <body>
        <section class="section">
            <form
                xmlns:th="http://www.thymeleaf.org"
                th:fragment="role-authority-create-fragment"
                th:object="${roleAuthorityCreate}"
                th:action="@{/role-authority-create}"
                method="post"
            >
                <div class="field">
                    <label class="label">Authority Id</label>

                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            th:field="*{authorityId}"
                            placeholder="Authority id input"
                        />
                    </div>
                    <ul>
                        <li
                                th:each="err : ${#fields.errors('authorityId')}"
                                th:text="${err}"
                                class="help is-danger"
                        />
                    </ul>
                </div>

                <div class="field">
                    <label class="label">Role Id</label>

                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            th:field="*{roleId}"
                            placeholder="Role Id input"
                        />
                    </div>
                    <ul>
                        <li
                            th:each="err : ${#fields.errors('roleId')}"
                            th:text="${err}"
                            class="help is-danger"
                        />
                    </ul>
                </div>

                <div class="control">
                    <button type="submit" class="button is-primary">
                        Submit
                    </button>
                </div>
            </form>
        </section>
    </body>
</html>
